<%- include('partials/header.ejs') %>

    <main class="fundo-perfil">
        <div class="card-perfil">
            <div class="perfil">
            <h2>Nome:</h2>
            <p><%= user.nome %></p>

            <h2>Email:</h2>
            <p><%= user.email %></p>

            <h2>Endereço:</h2>
            <p><%= user.endereco %></p>
            </div>
            <img src="<%= user.img %>" class="img-perfil">
        </div>
    </main>
    </body>

    </html>